<%- include('../partials/header.ejs'); -%>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Adicionar gasto</h1>
      <form action="/spents/add" method="post">
      
        <div class="mb-3">
          <label for="desc" class="form-label">Descrição:</label>
          <input type="text" name="description" class="form-control" id="desc" aria-describedby="emailHelp">    
        </div>
      
        <div class="mb-3">
          <label for="val" class="form-label">valor:</label>
          <input type="text" name="val_spent" class="form-control" id="val">
        </div>
      
        <div class="mb-3">
          <label for="cat" class="form-label">Categoria:</label>
          <select class="form-select" aria-label="Default select example">
            <option selected></option>
            <% categories.forEach(category => { %>               
              <option value="<%= category.id %>"><%= category.name %> - <%= category.id %></option>
            <% }) %>
          </select>
        </div>
        <div class="d-flex justify-content-end">
          <a href="/spents/all" class="btn btn-outline-success">Voltar</a>
          <button type="submit" class="btn btn-outline-success ms-3">Adicionar</button>
        </div>        
      </form>
    </div>
  </div>
</div>


<%- include('../partials/footer.ejs'); -%>